/.vs/JVP/v15/Server/sqlite3/db.lock
/.vs/JVP/v15/Server/sqlite3/storage.ide
/.vs/JVP/v15/Server/sqlite3/storage.ide-shm
/.vs/JVP/v15/Server/sqlite3/storage.ide-wal
/JVP/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/JVP/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/JVP/obj/Debug/JVP.csproj.CoreCompileInputs.cache
/JVP/obj/Debug/JVP.csprojAssemblyReference.cache
/JVP/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/JVP/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/JVP/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/.vs/JVP/v15/.suo
/JVP/bin/Debug/AxInterop.WMPLib.dll
/JVP/bin/Debug/Interop.WMPLib.dll
/JVP/bin/Debug/JVP.exe
/JVP/bin/Debug/JVP.exe.config
/JVP/bin/Debug/JVP.pdb
/JVP/obj/Debug/AxInterop.WMPLib.dll
/JVP/obj/Debug/Interop.WMPLib.dll
/JVP/obj/Debug/JVP.csproj.FileListAbsolute.txt
/JVP/obj/Debug/JVP.csproj.GenerateResource.cache
/JVP/obj/Debug/JVP.csproj.ResolveComReference.cache
/JVP/obj/Debug/JVP.exe
/JVP/obj/Debug/JVP.Form1.resources
/JVP/obj/Debug/JVP.pdb
/JVP/obj/Debug/JVP.Properties.Resources.resources
/JVP/Form1.resx
/JVP/frmMain.resx
